<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--
            <bean class="ru.javawebinar.topjava.repository.mock.MockUserRepositoryImpl" id="mockUserRepository"/>

            <bean class="ru.javawebinar.topjava.service.UserServiceImpl">
                <constructor-arg name="repository" ref="mockUserRepository"/>
            </bean>
    -->

    <!-- Not necessary, already included with component-scan -->
    <!--<context:annotation-config/>-->
 <!--   <bean  name="dataSource" id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="jdbc:postgresql://localhost:5432/topjava02" />
        <property name="username" value="user" />
        <property name="password" value="password" />
    </bean>

    <bean  id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean  id="namedJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
        <constructor-arg type="javax.sql.DataSource" ref="dataSource"/>

    </bean> !-->

    <context:component-scan base-package="ru.javawebinar.**.repository.jdbc"/>

    <context:component-scan base-package="ru.javawebinar.**.service"/>

    <context:component-scan base-package="ru.javawebinar.**.web"/>

</beans>